[submodule "jszip"]
	path = jszip
	url = https://github.com/Stuk/jszip.git
[submodule "example-webpage"]
	path = example-webpage
	url = https://github.com/seanmiles/example-webpage.git
[submodule "Lawyer-Website-Example"]
	path = Lawyer-Website-Example
	url = https://github.com/Zlaya19/Lawyer-Website-Example.git
